.wrapper {
    background-color: green;
    margin: 5%;
    padding-bottom: 5px;
}

#sushi {
    color: whitesmoke;
    text-align: center;
    font-family: cursive;
    font-size: 100px;
}

#dog {
    text-align: center;
    font-size:40px;
}

.left-box {
    position: fixed;
    top: 400px;
    left: 10px;
}

.right-box {
    position: fixed;
    top: 400px;
    right: 10px;
}