#green-background {
    background-color: green;
}


.wrapper {
    background-color: rgb(92, 150, 92);
    margin: 3%; 
    padding-bottom: 5px;
    border: 10px double orangered;
    width: -50%;
}

#sushi {
    color: whitesmoke;
    text-align: center;
    font-family: cursive;
    font-size: 100px;
}

#dog {
    text-align: center;
    font-size:40px;
    color:orangered;
    height: -2px;
}
#overview {
    text-align: center;
    border:2px solid orangered;
    background-color: green;
    width: -50%;
}
#sushi1{
    color: whitesmoke;
    text-align: center;
    font-family: cursive;
}

.left-box {
    text-align: left;
    top: 500px;
    left: 25px;
    border-style: groove;
    width: 50%;
}

.right-box {
    text-align: right;
    top: 500px;
    right: 25px;
    border-style: groove;
    width: -50%;
}